/* @font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 39rem;
    margin-bottom:200px;
    text-align: center;
}

button {
    font-family: 'NEXON Lv1 Gothic OTF';
    width: 20rem;
    height: 4.3rem;
    border: 0px;
    border-radius: 36px;
    background-color: cornflowerblue;
    color: white;
    margin:10px 0px 10px 0px;
    font-size: 13px;
}

button:hover{
    background-color: rgb(125, 170, 255);
} */

body {
    background-color: cornflowerblue;
}

#content{
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    max-width: 39rem;
}

img{
    width: 20rem;
}